
body{
  color: #000000;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: white;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-weight: bold;
 
}

h2{
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:  #1cb6bc;
  font-weight: bold;
}
.topContainer{
  background-color: #d6f8f8;
  padding-top: 50px;
}
p{
  line-height: 2;
}
.bottom-container{
  margin-top: 70px;
  background-color: #1dc4c4;
  padding: 50px 0 20px ;
}
.Web{
  text-decoration: underline;
}

.bottomCloud{
  position: absolute;
  left: 170px;
}
.topCloud{
  position: relative;
  
  left:320px;
}

.profile-Image{
  width: 15%;
  
  
}

.cake-Image{
  width: 25%;
  float: right;
  margin-left: 40px;
  border: solid 3px;
  border-color:#15cad1;
  padding: 5px;
  margin-bottom: 10px;
}
.webo{
  width: 25%;
  float: left;
  margin-right: 40px;
  border: solid 3px;
  border-color:#15cad1;
  padding: 5px;
  
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  

}

.web-des{
  margin: auto;
  width: 40%;
}
.dec{
  margin-bottom: 50px;
}
.button{
  background-color: #15cad1;
  color: white;
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 5px;

}
.copy-right{
  margin: 0px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999b);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999b);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999b);
  background-image: -o-linear-gradient(top, #11cdd4, #11999b);
  background-image: linear-gradient(to bottom, #11cdd4, #11999b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middle-container{
  margin: 100px 0px ;
}

hr{
  margin: 120px auto;
  border: dotted lightgray 6px;
  border-bottom: none;
  width: 4%;
}

.auto-message{
  width: 40%;
  margin: 40px auto;
}

a{
  color: #0b8f93;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px ;
}
a:hover{
  color: #EAF6F6;
}
.copy-right{
  padding: 20px 0px;
  color:#EAF6F6;
  font-size: 0.75rem;
}